body {

    /* font-family: 'Poppins', sans-serif; */
    padding: 100px;
    font-weight: 500;
}

.submit-area {
    margin: 50px 0;
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area {
    display: none;
}

.col-md-4 div {
    margin: 0 20px 0 0;
    color: whitesmoke;
    padding:20px;
    border-radius: 5px;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}